@page "/about";
@inject HttpClient Http

<PageTitle>О нас</PageTitle>

<div class="content-container">
    <h3>About</h3>

    <p>
        Добро пожаловать в <b>EventSwirl</b> — ваше новое любимое место для поиска и создания мероприятий!
        Мы создали EventSwirl с одной целью: сделать планирование и участие в событиях максимально простым,
        увлекательным и доступным для каждого.
    </p>

    <h5>Почему EventSwirl?</h5>
    <p>
        В современном мире, где время и информация — самые ценные ресурсы, мы понимаем, насколько важно иметь удобный
        инструмент, который поможет вам найти идеальное мероприятие или организовать свое собственное событие.
        EventSwirl предлагает вам:
    </p>
    <ul>
        <li><b>Удобный поиск</b>: С нашим интуитивным интерфейсом и мощными фильтрами вы сможете легко найти мероприятия, которые вас заинтересуют — будь то концерты, конференции, спортивные события или культурные фестивали.</li>
        <li><b>Создание событий</b>: Хотите организовать собственное событие? EventSwirl предоставляет все необходимые инструменты для создания, продвижения и управления вашим мероприятием. Вы можете легко настроить детали, пригласить участников и отслеживать статус регистрации.</li>
        <li><b>Доступность и простота</b>: Независимо от того, новичок вы или опытный пользователь, EventSwirl сделан так, чтобы быть простым и понятным для всех. Удобная навигация, понятные инструкции и поддержка на каждом этапе — все это делает использование нашего приложения максимально комфортным.</li>
    </ul>

    <h5>Наша миссия</h5>
    <p>
        Наша миссия — объединить людей через мероприятия и создать пространство, где каждый найдет что-то для себя.
        Мы верим, что живое общение и участие в событиях делает жизнь ярче и интереснее, а EventSwirl — это инструмент,
        который поможет вам стать частью этого удивительного мира.
    </p>

    <p>
        Присоединяйтесь к нам и откройте для себя новые горизонты с EventSwirl.
        Независимо от того, хотите ли вы найти вдохновляющее мероприятие или поделиться своим
        творческим проектом с миром, EventSwirl — ваш надежный партнер в мире событий!
    </p>
</div>

@code {

}
