.event-list-search input {
    width: 100%;
    padding: 0px 10px;
}

.events-list {
    background-color: #2C2C2E;
}

.events-list-title h3 {
    margin: 30px 0px;
}

.card-deck {
    display: flex;
    align-content: center;
}

.card:hover {
    box-shadow: 0 6px 10px 0 rgba(155, 89, 182, 0.3), 0 8px 22px 0 rgba(155, 89, 182, 0.20);
}

.card-container {
    margin: 1% 0%;
    color: #000000;
}

.event-info {
    font-size: 14px;
}

.event-info-text {
    color: dimgray;
}
