@inherits LayoutComponentBase

<PageTitle>EventSwirl</PageTitle>

<header>
    <NavMenu/>
</header>
<main>
    @Body
</main>
<footer>
    <div class="footer-info">
        <p>&copy; 2024 EventSwirl. Все права защищены.</p>
    </div>
</footer>
