@inject NavigationManager Navigation

<nav>
    <div class="wrapper">
        <div class="logo">
            <a href="/">EventSwirl</a>
        </div>
        <ul class="nav-links">
            <li><a href="/">Главная</a></li>
            <li><a href="events">События</a></li>
            <li><a href="about">О нас</a></li>
        </ul>
        <div class="nav-buttons">
            <button type="button" class="btn-login" @onclick="Login">Вход</button>
            <button type="button" class="btn-registrate" @onclick="Registrate">Регистрация</button>
        </div>
    </div>
</nav>

@code {
    private void Login() => Navigation.NavigateTo("/login");

    private void Registrate() => Navigation.NavigateTo("/registrate");
}